# Virtual Environment
envv/
venv/
env/
bin/
lib/
include/
__pycache__/
*.pyc

# Data and Models (Too large for GitHub)
data/
models/
*.csv
*.json
*.h5
*.pt
*.pth
*.bin
*.safetensors
*.weights

# Jupyter Notebooks
.ipynb_checkpoints

# OS Files
.DS_Store
Thumbs.db

# VS Code Settings
.vscode/
